.form
  %h3 Search Citations

  = form_tag search_citation_path, method: :get  do
    = label_tag( :q, 'Search for:')
    = text_field_tag(:q, @query)
    %br
    = label_tag( :limit, 'Limit:')
    = number_field_tag(:limit, @limit)
    %br
    %br
    = submit_tag('Search', name:nil)
    (This is going to take a while)

- if @results
  .results
    %h3 Results
    = text_area_tag :results, @results



