-# Copyright (c) 2014 Public Library of Science

-# Permission is hereby granted, free of charge, to any person obtaining a copy
-# of this software and associated documentation files (the "Software"), to deal
-# in the Software without restriction, including without limitation the rights
-# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
-# copies of the Software, and to permit persons to whom the Software is
-# furnished to do so, subject to the following conditions:
-#
-# The above copyright notice and this permission notice shall be included in
-# all copies or substantial portions of the Software.
-#
-# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
-# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
-# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
-# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
-# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
-# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
-# THE SOFTWARE.

%h3 Results for '#{@result_set.query}' (limit #{@result_set.limit}, matches #{@result_set.matches.count})

.results

  .span4
    - if @result_set.has_matches?
      %table.citing
        %thead
          %tr
            %th Search Result / Citing Paper
        %tbody
          - @result_set.matches.each do |doi|
            %tr
              %td= link_to doi, paper_path(doi)

      %br

    - else
      %h4 No Matches found

    .json
      %h5 JSON Output
      = text_area_tag :analysis_json, JSON.pretty_generate(@result_set.results), readonly:true
      = link_to 'Download JSON', result_path(@result_set.token, format:'json'), class:'btn btn-primary pull-right'

  .span8
    - if @result_set.has_matches?
      %table.cited
        %thead
          %tr
            %th= sort_link('Cited Paper', nil)
            %th= sort_link('Citations',   :citations)
            %th= sort_link('Mentions',    :intra_paper_mentions)
        %tbody
          - @citations.each do |doi, info|
            %tr
              %td= link_to doi, cited_result_path(@result_set.token, url_encode(doi) )
              %td.number= info[:citations]
              %td.number= info[:intra_paper_mentions]

%br
%br
