%h3 Results for '#{@result.query}' (limit #{@result.limit}, matches #{@result.matches.count})

.results

  .span4
    %table.citing
      %thead
        %tr
          %th Search Result / Citing Paper
      %tbody
        - @result.matches.each do |doi|
          %tr
            %td= link_to doi, paper_path(doi)

    %br
    .json
      %h5 JSON Output
      = text_area_tag :analysis_json, JSON.pretty_generate(@result.analysis_results), readonly:true
      = link_to 'Download JSON', result_path(@result.token, format:'json'), class:'btn btn-primary pull-right'

  .span8
    %table.cited
      %thead
        %tr
          %th= sort_link('Cited Paper', nil)
          %th= sort_link('Citations',   :citations)
          %th= sort_link('Mentions',    :ipms_count)
      %tbody
        - @citations.each do |doi, info|
          %tr
            %td= link_to doi, cited_result_path(@result.token, doi)
            %td.number= info[:citations]
            %td.number= info[:ipms_count]

%br
%br