%h3 Results for '#{@result.query}' (limit #{@result.limit}, matches #{@result.matches.count})

.results
  = text_area_tag :analysis_json, JSON.pretty_generate(@result.analysis_results), readonly:true

  .dois
    - @result.matches.each do |doi|
      %div= link_to doi, paper_path(doi)

%br