= simple_form_for @search_result_set, html:{class:'form-horizontal'}, url:search_results_path  do |f|
  = f.error_notification
  = f.input  :query
  = f.input  :limit, as:'integer', input_html:{maxLength:'3'}
  .form-actions
    = f.button :submit, name:nil, value:'Search', class:'btn btn-primary'
