- content_for :title do
  Results for cited paper: #{@ref}

%h3 Results for cited paper: #{@ref} from #{link_to "'" + @result_set.query + "'", result_path(@result_set.token) },

.results

  .span8
    .json
      %h5 JSON Output
      = text_area_tag :json, JSON.pretty_generate(@cited), readonly:true
      = link_to 'Download JSON', cited_result_path(@result_set.token, @ref, format:'json'), class:'btn btn-primary pull-right'

%br
%br