%h3 Search Citations

.span12
  .span4
    = render partial:'search_form'

  .span4
    = render partial:'list_query_form'

  .span3
    = render partial:'parse_query_form'

%h3 Previous Searches

- @available_result_sets.each do |r|
  %div
    - if ! r.ready?
      Analyzing
    = link_to r.query, result_path(r.token)
    limit #{r.limit}

%br

