%h3 Look up paper

- if flash[:error].present?
  %p{:class => 'text-error'}= flash[:error]

= form_tag("/", method: "get") do
  = label_tag(:doi, "DOI:")
  = text_field_tag(:doi)
  = submit_tag("Search")

%h3 Bookmarklet

%p
  Use this bookmarklet to enable Rich Citations on any PLOS journal
  article! Just drag the bookmarklet to your bookmarks toolbar, then
  click it while reading any article on a PLOS journal site.

%p= link_to('Rich Citations Bookmarklet', 'javascript:(function()%7Bvar%20warning%20%3D%20%22Sorry%2C%20you%20don%27t%20appear%20to%20be%20looking%20at%20a%20PLOS%20journal%20article.%20Please%20navigate%20to%20a%20PLOS%20journal%20article%20and%20try%20clicking%20this%20bookmarklet%20again.%22%3Bvar%20h%20%3D%20window.location.hostname%3Bvar%20hnames%20%3D%20%5B%22journals.plos.org%22%2C%20%22www.plosone.org%22%2C%20%22www.plosgenetics.org%22%2C%22www.plospathogens.org%22%2C%22www.plosbiology.org%22%2C%22www.plosmedicine.org%22%2C%22www.ploscompbiol.org%22%2C%22www.plosntds.org%22%2C%22www.plosclinicaltrials.org%22%2C%20%22alpha.richcitations.org%22%5D%3Bvar%20hn%20%3D%20hnames.indexOf(h)%3Bvar%20s%20%3D%20window.location.pathname%3Bvar%20n%20%3D%20s.indexOf(%2210%22)%3Bvar%20doi%20%3D%20s.slice(n)%3Bvar%20new_url%20%3D%20%22http%3A%2F%2Falpha.richcitations.org%2Fview%2F%22%20%2B%20doi%3Bif%20(n%20%3D%3D%3D%20-1%20%7C%7C%20hn%20%3D%3D%3D%20-1)%7Balert(warning)%3B%7Delse%20%7Bwindow.location.assign(new_url)%3B%7D%7D)()')

%h3 API

%p
  Please see our
  = link_to('API page', 'http://api.richcitations.org/')
  for more details.

%h3 Examples

%ul
  -#  %li= link_to('Hansen J, Kharecha P, Sato M, Masson-Delmotte V, Ackerman F, et al. (2013) Assessing “Dangerous Climate Change”: Required Reduction of Carbon Emissions to Protect Young People, Future Generations and Nature. PLoS ONE 8(12): e81648.', '/view/10.1371/journal.pone.0081648#references')
  %li= link_to('Harris CR, Prouvost C (2014) Jealousy in Dogs. PLoS ONE 9(7): e94597.', '/view/10.1371/journal.pone.0094597#references')
  %li= link_to('Norris RD, Norris JM, Lorenz RD, Ray J, Jackson B (2014) Sliding Rocks on Racetrack Playa, Death Valley National Park: First Observation of Rocks in Motion. PLoS ONE 9(8): e105948.', '/view/10.1371/journal.pone.0105948#references')
  %li= link_to('Sojo V, Pomiankowski A, Lane N (2014) A Bioenergetic Basis for Membrane Divergence in Archaea and Bacteria. PLoS Biol 12(8): e1001926.', '/view/10.1371/journal.pbio.1001926#references')
  %li= link_to('Priest P, McKenzie JE, Audas R, Poore M, Brunton C, et al. (2014) Hand Sanitiser Provision for Reducing Illness Absences in Primary School Children: A Cluster Randomised Trial. PLoS Med 11(8): e1001700.', '/view/10.1371/journal.pmed.1001700#references')
  %li= link_to('Cybulski JS, Clements J, Prakash M (2014) Foldscope: Origami-Based Paper Microscope. PLoS ONE 9(6): e98781.', '/view/10.1371/journal.pone.0098781#references')
  %li= link_to('Jenkins R, Kerr C (2013) Identifiable Images of Bystanders Extracted from Corneal Reflections. PLoS ONE 8(12): e83325.', '/view/10.1371/journal.pone.0083325#references')
  %li= link_to('Boutilier MSH, Lee J, Chambers V, Venkatesh V, Karnik R (2014) Water Filtration Using Plant Xylem. PLoS ONE 9(2): e89934.', '/view/10.1371/journal.pone.0089934#references')
  %li= link_to('Clancy KBH, Nelson RG, Rutherford JN, Hinde K (2014) Survey of Academic Field Experiences (SAFE): Trainees Report Harassment and Assault. PLoS ONE 9(7): e102172.', '/view/10.1371/journal.pone.0102172#references')
