- content_for :title do
  Redirect to #{@ref[:bibliographic][:title]}
  
%h3 Originating page
%p
  = render partial: "cite", object: @paper.bibliographic[:bibliographic], locals: {cite_href: "/view/#{URI.encode_www_form_component(@doi)}"}

  
%h3 Destination
%p
  = render partial: "cite", object: @ref[:bibliographic], locals: {cite_href: @ref[:uri] }

%p
  Redirecting ...

#redirect
  :javascript
    redirectOnce("http://dx.doi.org/#{URI.encode_www_form_component(@ref[:bibliographic][:DOI])}");
