<% title = @xml.xpath("//article-meta/title-group/article-title").text().strip() %>
<% content_for :title do %>
  <%= title %>
<% end %>

<# need this to deal with assets pipeline #>
<%= javascript_tag("var spinnerPath = '#{image_path('spinner.gif')}';") %>

<div id="page-wrap">
  <div id="pagebdy-wrap">
    <div id="pagebdy">
      <div id="article-block" class="cf">
        <div class="article-meta cf">
          <ul id="almSignPost" style="display: none;"></ul>
          <div class="article-type">
            <span class="type oa">Open Access</span>
            <span class="type pr">Peer-Reviewed</span>
          </div>
        </div>
        <div class="header" id="hdr-article">
          <div class="article-kicker">
            <span id="article-type-heading">
              Research Article
            </span>
          </div>
          <h1 property="dc:title" datatype="" rel="dc:type" href="http://purl.org/dc/dcmitype/Text">
            <%= title %>
          </h1>
          <ul class="authors">
            <% @xml.xpath("//article-meta/contrib-group/contrib[@contrib-type='author']").each do |author_node| %>
              <li>
                <span rel="dc:creator" class="author">
                  <span class="person" property="foaf:name" typeof="foaf:Person">
                    <%= author_node.xpath("name/given-names").text().strip() -%>
                    <%= author_node.xpath("name/surname").text().strip() -%><% if !(author_node / "xref[@ref-type='corresp']").empty? then %><span class="corresponding">mail</span><% end %><% if !(author_node / "./following-sibling::contrib").empty? %>,<% end %></span>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="main cf">
          <div class="nav-col">
            <div class="nav" id="nav-article-page">
              <ul>
                <li><a data-doi="<%= @doi %>" id="nav-figures">Figures</a></li>
              </ul>
            </div>
            </div>
          <div class="article">
            <% cache do %>
            <%= render(partial: "transform").html_safe %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--This is the global footer for journals-->
  <div id="pageftr">
    <div class="ftr-cols cf">
      <div class="col">
        <div class="logo">
          <img src="/images/logo.plos.ftr.gif" width="115" height="43" alt="PLOS">
        </div>
      </div>
      <div class="col">
        <div class="nav">
          <div class="link"><a href="TEST">Journals</a></div>
          <ul>
            <li><a href="TEST">PLOS Biology</a></li>
            <li><a href="TEST">PLOS Medicine</a></li>
            <li><a href="TEST">PLOS Computational Biology</a></li>
            <li><a href="TEST">PLOS Genetics</a></li>
            <li><a href="TEST">PLOS Pathogens</a></li>
            <li><a href="TEST">PLOS ONE</a></li>
            <li><a href="TEST">PLOS Neglected Tropical Diseases</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="nav">
          <div class="link"><a href="TEST">plos.org</a></div>
          <div class="link"><a href="TEST">Blogs</a></div>
          <div class="link"><a href="TEST">Collections</a></div>
        </div>
      </div>
      <div class="col">
        <div class="copy"><img src="/images/icon.cc.16.png" width="16" height="16" alt="Creative Commons"> All site
          content, except where otherwise noted, is licensed under a <a href="TEST">Creative Commons Attribution License</a>.</div>
        <div class="nav">
          <ul>
            <li><a href="TEST">Privacy Policy</a></li>
            <li><a href="TEST">Terms of Use</a></li>
            <li><a href="TEST">Advertise</a></li>
            <li><a href="TEST">Media Inquiries</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
                        
